---
import "~/styles/index.css"
import Logo from "~/components/Logo.astro"

const places = [
  {
    name: "Freelance",
    role: "Developer",
    year: [2023, "Ongoing"],
    href: "https://carlo.works",
  },
  {
    name: "Dallonses",
    role: "Lead Frontend Developer",
    year: [2023, "Ongoing"],
    href: "https://dallonses.com",
  },
  {
    name: "Not Found",
    role: "Frontend Developer",
    year: [2023, 2023],
    href: "https://notfound.es",
  },
  {
    name: "Dallonses",
    role: "Frontend Developer",
    year: [2020, 2023],
    href: "https://dallonses.com",
  },
  {
    name: "BOLD",
    role: "Graphic Design Internship",
    year: [2019, 2020],
    href: "https://bold.bz",
  },
  // {
  //   name: "Seeway",
  //   role: "Graphic Design Student",
  //   year: [2018, 2020],
  // },
]

const awards = [
  {
    name: "Laus Award (Bronze)",
    year: 2024,
    href: "https://adg-fad.org/es/laus/proyecto/vicio-invierte-donde-invierten-los-que-invierten",
  },
  {
    name: "Laus Award (Gold)",
    year: 2023,
    href: "https://adg-fad.org/es/laus/proyecto/vicio-0",
  },
  {
    name: "Site of the Day",
    year: 2023,
    href: "https://awwwards.com/sites/vicio",
  },
]

const underline = "decoration-gray-200 underline underline-offset-4"
---

<html lang="en" class="h-full text-gray-700 selection:bg-gray-200">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Carlo Domínguez</title>
  </head>
  <body class="min-h-full font-mono max-w-[33rem] space-y-20 px-4 py-8 md:p-10">
    <article class="space-y-6">
      <header>
        <a href="mailto:hello@carlo.works">
          <h1>CARLO(DOT)WORKS</h1>
        </a>
      </header>
      <p>
        My name is Carlo. I work as the Lead&nbsp;Frontend Developer at <a
          href="https://dallonses.com"
          target="_blank"
          class:list={[underline, "hover:no-underline"]}>Dallonses</a
        >, where I lead boutique, creative projects like the <a
          href="https://vasava.es"
          target="_blank"
          class:list={[underline, "hover:no-underline"]}>Vasava website</a
        >, and&nbsp;complex, technical ones like <a
          href="https://wikiparfum.com"
          target="_blank"
          class:list={[underline, "hover:no-underline"]}>Wikiparfum</a
        >.
      </p>
      <p>
        Previously I worked at <a
          href="https://notfound.es"
          target="_blank"
          class:list={[underline, "hover:no-underline"]}>Not Found</a
        > building creative web experiences.
      </p>
      <p>
        I see myself as a designer at heart and enjoy crafting software with a
        distinctive visual sensibility.
      </p>
    </article>
    <section>
      <header>
        <h2>Career</h2>
      </header>
      <ul>
        {
          places.map((place) => (
            <li>
              <article>
                <a
                  href={place.href}
                  target="_blank"
                  class="flex justify-between group"
                >
                  <h3 class:list={[underline, "group-hover:no-underline"]}>
                    {place.name}
                  </h3>
                  <span>{place.year.join(" — ")}</span>
                </a>
              </article>
            </li>
          ))
        }
      </ul>
    </section>
    <section>
      <header>
        <h2>Recognitions</h2>
      </header>
      <ul>
        {
          awards.map((award) => (
            <li>
              <article>
                <a
                  href={award.href}
                  target="_blank"
                  class="flex justify-between group"
                >
                  <h3 class:list={[underline, "group-hover:no-underline"]}>
                    {award.name}
                  </h3>
                  <time>{award.year}</time>
                </a>
              </article>
            </li>
          ))
        }
      </ul>
    </section>
    <footer class="grid place-items-end">
      <Logo />
    </footer>
  </body>
</html>
